* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Helvetica", "sans-serif", "Arial";
}
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
/*DYNAMICS LINES*/
.ligne-1 {
	position: relative;
	margin-top: 30px;
	width: 0%;
	height: 3px;
	background: url("img/home2.jpg") right/cover;
}
.ligne-2 {
	position: absolute;
	left: 30px;
	top: 0px;
	width: 3px;
	height: 0%;
	background-color: #fff;
}

img {
	max-width: 100%;
}
 
.wrapper {
 width: 100%;
 /*border: 2px solid crimson;*/

/**NAVIGATION**/
}
.menu {
	display: flex;
	justify-content: space-around;
	list-style: none;
	border: 3px solid #000;
	margin: 10px 15px;
	background: url("img/home2.jpg") right/cover;
	/*border: 3px solid #000;*/
	/*border-radius: 15px;*/
	/*border: 2px solid crimson;*/
}
.menu li a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #fff;
	font-size: 2rem;
}

/**HOME**/
.home-container {
	padding: 15px;
	height: 100vh;
	/*border: 1px solid crimson;*/
}
.box-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	/*border: 2px solid crimson;*/
	background: url("img/home2.jpg") center/cover;
	object-fit: contain;
	border: 3px solid #000;
}
.main-title {
	color: #fff;
	text-align: center;
	display: block;
	text-transform: uppercase;
	font-size: 3rem;
}
.box-content {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	/*border: 3px solid crimson;*/
	position: relative;
}
/*BOX-CONTENT-SCREEN*/
.box-content-screen , .box-content-screen2, .box-content-screen3 {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 90%;
	background-color: rgba(0, 0, 0, 0.7);
	margin-left: 10%;
	border-radius: 15px;
	margin: 10px auto;
	transform: scale(0);
	overflow: auto;
	color: #fff;
	border: 1px solid #fff;
	padding: 1rem;
}

.box-content-screen, .box-content-screen2, .box-content-screen3 p {
	text-align: justify;
	padding: 15px;
	font-size: 2rem;
}
.box-content-screen, .box-content-screen2, .box-content-screen3 h2 {
	font-size: 2rem;
	text-align: center;
}
.box-content-screen, .box-content-screen2, .box-content-screen3 figure {
	text-align: center;
}
/**BOXS**/
.box {
	width: 150px;
	height: 150px;
	/*background-color: crimson;*/
	color: #fff;
	overflow: auto;
	border: 1px solid #fff;
	border-radius: 15px;
	padding: 3px;
	text-align: center;
}
/*ROTATE DIVS*/
	@keyframes run-rotation {
			0% {
				transform: rotateY(0deg);
			}
			100% {
				transform: rotateY(360deg);
			}
	}
.run-rotate {
	transform: perspective(200px) rotateZ(45deg);
	transform-style: preserve-3d;
	animation: run-rotation 15s linear infinite;
}
.box-title {
	font-size: 1rem;
}
.box p {
	opacity: 0;
}
.box1 {
	background: url("img/home2.jpg") center/cover;
	
}
.box2 {
	background: url("img/home2.jpg") center/cover;
	
}
.box3 {
	background: url("img/home2.jpg") center/cover;

}
.container-button {
	/*border: 2px solid crimson;*/
	text-align: center;
}

/**BUTTON**/
.btn {
	width: 150px;
	padding: 10px;
	border-radius: 35px;
	font-size: 1rem;
	border: 1px solid #000;
}

/**MERCEDES PARFUM SECTION**/
.bg-mercedes {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url("img/home2.jpg") center/cover;
	/*background: rgb(2,0,36);
	background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 52%, rgba(12,0,255,1) 100%);*/
	border: 3px solid #000;
	z-index: -100;
}
.main-container-cards {
	/*border: 2px solid crimson;*/
	margin: 0 15px;
	padding: 15px;
	position: relative;
	margin-bottom: 15px;
}
.title-section {
	font-size: 3rem;
	color: #fff;
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 4rem;
}
.container-cards {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	/*border: 2px solid crimson;*/
	position: relative;	
}
.mercedes-parfum-h2 {
	text-align: center;
	color: #000;
}
.parfums {
	/*border: 3px solid gold;*/
	display: flex;
	flex-flow: column wrap;
	width: 200px;
	height: 60%;
}
.parfums h2 {
	text-align: center;
	color: #fff;
}
.mercedes-img {
	/*border: 3px solid crimson;*/
	text-align: center;
}
.mercedes-buy-button {
	text-align: center;
}
.up-icon {
	align-self: flex-end;
	align-content: flex-end;
	font-size: 1.5rem;
	color: #fff;
	text-align: right;
	margin-right: 15px;
	width: 100%;
}
/**FORM PAYD MERCEDES**/
.main-container-payd {
	/*border: 3px solid crimson;*/
	width: 100%;
}
.container-payd {
	/*border: 3px solid gold;*/
	display: flex;
	flex-flow: column wrap;
	align-content: center;
	padding: 10px;
	align-items: center;
	color: #fff;
	width: 70%;
	margin: 0 auto;
	/*background-color: rgba(165, 154, 154, 0.7);*/
	border: 1px solid #fff;
	background: url("img/home2.jpg") center/cover;
	border-radius: 15px;
}
.form-title {
	margin-bottom: 15px;
	text-transform: uppercase;
}
.container-payd label, input {
  	display: block;
  	width: 15rem;
  	margin-bottom: 1rem;
  	border-radius: 5px;
  	border: none;
 }
.container-payd input {
    padding: 10px;
    box-shadow: 1px 1px 3px grey;
}

  /*****************/
 /*FOODY'S SECTION*/
/*****************/
.main-foodys-container {
	/*border: 3px solid crimson;*/
	padding: 10px;
	margin: 0 auto;
	width: 100%;
	/*height: 100vh;*/
	position: relative;
}
.bg-foodys {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url("img/home2.jpg") center/cover;
	border: 3px solid #000;
	z-index: -100;
	margin: 0 15px;
}
.blur {
filter: blur(5px);
transition: 1.5s;
}
.foodys-container {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: flex-start;
	/*border: 3px solid gold;*/
	width: 100%;
	height: 100%;
}
.foodys-tips {
	/*border: 3px solid crimson;*/
	width: 20%;
	text-align: center;
}
.foodys-tips h2, figcaption {
	color: #fff;
}
.foodys-tips img {
	height: 205px;
	animation: pulse 3s linear infinite;
}
.foodys-up-icon {
	display: block;
	font-size: 1.5rem;
	color: #fff;
	text-align: right;
	padding-right: 15px;
}
@keyframes pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.3);
	}
	100% {
		transform: scale(1);
	}
}




/*********************/
/*RESPONSIVE SECTION*/
@media screen and (min-width: 360px) and (max-width: 768px) {
.menu {
	flex-direction: column;
	align-items: center;
}
.menu li a {
	color: #fff;

}
.box-container {
	justify-content: space-between;
}
.box-content {
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;
}
.box {
	width: 100px;
	height: 100px;
}
.box-content-screen, .box-content-screen2, .box-content-screen3  {
	width: 90%;
}
.box-content-screen, .box-content-screen2, .box-content-screen3 p {
font-size: 20px;
}
/*ROTATE DIVS*/
@keyframes run-rotation {
		0% {
			transform: rotateY(0deg);
		}
		100% {
			transform: rotateY(360deg);
		}
}
.run-rotate {
	transform: perspective(200px) rotateZ(45deg);
	transform-style: preserve-3d;
	animation: run-rotation 7s linear infinite;
}
.run-rotate-reverse {
	transform: perspective(200px) rotateZ(90deg);
	transform-style: preserve-3d;
	animation: run-rotation 5s linear infinite;
}
.parfums {
	width: 100%;
	height: 100%;
}
.main-title {
	align-self: flex-start;
}

/*MERCEDES PARFUMS SECTION*/
.container-payd {
	width: 100%;
}
/*FOODYS SECTION*/
.main-foodys-container {
	height: 100%;
}
.foodys-container {
	display: block;
}
.foodys-tips {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #fff;
	margin-bottom: 15px;
	padding: 15px;
}




}