@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@600&display=swap');

body {
  height: 100vh;
  overflow: hidden;
  background: #f3f3f3; 
}

.portfolio {
  display: flex;
  min-width: 600px;
  max-width: 900px;
  height: 400px;
  margin: 4rem auto;
}
.image {
  width: 60px;
  margin: 10px;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  overflow: hidden;
  position: relative;
}
/*.image.active {
  flex-grow: 100;
  max-width: 600px;
  margin: 0;
  border-radius: 7px;
  background-size: auto 100%;
}
.image:not(.active) {
  flex-grow: 1;
  border-radius: 5px;
}*/

.image:hover {
  flex-grow: 100;
  max-width: 600px;
  margin: 0;
  border-radius: 7px;
  background-size: auto 100%;
  transition: 1s;
}
.image:not(:hover) {
  flex-grow: 1;
  border-radius: 5px;
}