* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url("paysage-calme.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100vw;
  height: 100vh;
  /*border: 1px solid #000;*/
}
.main-header {
  width: 100vw;
}
.menu {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  list-style: none;
  width: 80%;
  background-color: #000;
  border-radius: 35px;
}
.menu li a {
  display: block;
  text-decoration: none;
  padding: 10px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bolder;
}
.menu li a:hover {
  background-color: #fff;
  color: #000;
}
.box {
  width: 8vw;
  height: 15vh;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 15px;
  text-align: center;
  overflow: auto;
  margin: 15px;

  transition: height 0.5s;
} 


p {
  min-height: 100px;
  padding: 10px;
  font-size: 5px;
  overflow: hidden;
}
h2 {
  font-size: 10px;
}
figure {
  width: 100%;
  margin: 0 auto;
}
img {
  display: block;
  max-width: 100%;
}
.vignette {
  opacity: 0;
}
.vignette1 {
  opacity: 1;
}

h1 {
  width: 100%;
  font-size: 3em;
  color: #000;
  text-transform: uppercase;
  text-align: center;
}

/*BUTTONS*/
.container-button {
  position: relative;
  left: 15%;
  top: 13%;
  /*width: 100vw;*/

}
.btn {
  display: block;
  padding: 5px 25px;
  border-radius: 50px;
  width: 100px;
  margin: 10px auto;
  background-color: transparent;
  border: 1px solid #fff; 
  color: #fff;
  cursor: pointer;
}
.btn1 {
  display: block;
  border: 1px solid #000;
  padding: 5px 25px;
  border-radius: 50px;
  width: 100px;
  margin: 10px auto;
  background-color: transparent;
  border: 1px solid #fff; 
  color: #fff;
  opacity: 0;
  cursor: pointer; 
}
.btnMd {
  display: block;
  padding: 5px 25px;
  border-radius: 50px;
  width: 100px;
  margin: 10px auto;
  background-color: transparent;
  border: 1px solid #fff; 
  color: #fff;
  cursor: pointer;
}


.box::-webkit-scrollbar {
  width: 1px; /* width of the entire scrollbar */
display: none;
  
}

.box::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

.box::-webkit-scrollbar-thumb {
  background-color: transparent; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid transparent; /* creates padding around scroll thumb */
}

@media screen and (max-width: 768px) {
  .container {
    flex-flow: column wrap;
    position: relative;
  }
  .box {
    width: 80vw;
    height: 4vh;
    position: absolute;
  }
  .box1 {
    top: 8rem;
  }
  .box2 {
    top: 12rem;
  }
  .box3 {
    top: 16rem;
  }



  .vignette {
    opacity: 1;
    font-size: 1.5rem;
  }
  .btn {
    display: none;
  }
  .menu {
    display: block;
    width: 100%;
    border-radius: 0rem;
    background: transparent;
  }
  .menu li a {
    padding: 5px;
  }
    .move1 {
    height: 50vh;
  }
}







@media screen and (max-width: 420px) {
  .container {
    flex-flow: column wrap;
    position: relative;
  }
  .box {
    width: 80vw;
    height:3vh;
    position: absolute;

  }
  .box1 {
    top: 8rem;
  }
  .box2 {
    top: 10rem;
  }
  .box3 {
    top: 12rem;
  }


  .vignette {
    opacity: 1;
    font-size: 1rem;
  }
  .btn {
    display: none;
  }
  .menu {
    display: block;
    width: 100%;
    border-radius: 0rem;
    background: transparent;
  }
  .menu li a {
    padding: 5px;
  }
  /* UX Mouvement*/
  .moveB3 {
    height: 60vh;
    /*transition: top 1s; 
    transition-delay: 1s;
    top: 10rem;*/
}
  .moveB2 {
    height: 60vh;
    /*transition: top 1s;
    top: 14rem;*/
}
 .moveB1 {
    height: 60vh;
    /*transition: top 1s;
    top: 14rem;*/
}
 .moveUp {
    height: 3vh;
   /* transition: top 1s;
    top: 10rem;*/
}
  .noMove {
    /*height: 3vh;*/
    visibility: hidden;
  }


}